.cookie-banner{

position:fixed;
bottom:20px;
left:20px;
right:20px;

background:#050505;

border:2px solid #00d9ff;

border-radius:18px;

padding:25px;

box-shadow:0 0 30px #00d9ff;

z-index:999999;

color:white;

font-family:Arial;

max-width:700px;

margin:auto;

}

.cookie-content h3{

margin-top:0;

color:#00eaff;

}

.cookie-buttons{

display:flex;

gap:10px;

margin-top:20px;

flex-wrap:wrap;

}

.cookie-buttons button{

padding:12px 22px;

border:none;

border-radius:10px;

cursor:pointer;

font-weight:bold;

transition:.3s;

}

.btnAccept{

background:#00d9ff;
color:#000;

}

.btnReject{

background:#222;
color:#fff;

}

.btnConfig{

background:#004d66;
color:white;

}

.cookie-buttons button:hover{

transform:scale(1.05);

box-shadow:0 0 15px #00d9ff;

}